@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #103c00;
  --background-hex: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-hex: #103c00; */
    /* --background-hex: #ffffff; */
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
section {
  margin-bottom: 60px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
