@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #103c00;
  --background-hex: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-hex: #103c00; */
    /* --background-hex: #ffffff; */
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Layout */
body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
section {
  margin-bottom: 60px;
}
section:last-child {
  margin-bottom: 0;
}
/* -Layout */
/* Copy Styling */
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 15px;
}
h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #808080;
  line-height: 2rem;
}
p {
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
  line-height: 2rem;
}
#faqs > li {
  font-size: 1.2rem;
  font-weight: 500;
  color: #35711f;
  line-height: 2rem;
}
.footerGreenCopy {
  color: #103c00;
  font-weight: 400;
  text-transform: uppercase;
}
.footerWhiteCopy > p {
  color: #f2f2f2;
  font-weight: 400;
}
/* -Copy Styling */
/* Button Styling */
button {
  border-radius: 32px;
  padding: 16px 32px;
  background-color: #e7cbaf;
  color: #103c00;
}
/* -Button Styling */
/* NormalizeIt Logo Overflow Styling */
#normalizePlantImg {
  float: none;
  overflow: hidden;
  margin-right: 0px;
  margin-bottom: -80px;
}
@media (min-width: 475px) {
  #normalizePlantImg {
    margin-bottom: -100px;
  }
}
@media (min-width: 560px) {
  #normalizePlantImg {
    margin-bottom: -120px;
  }
}
@media (min-width: 640px) {
  #normalizePlantImg {
    margin-bottom: -140px;
  }
}
@media (min-width: 768px) {
  #normalizePlantImg {
    margin-bottom: -160px;
  }
}
@media (min-width: 1024px) {
  #normalizePlantImg {
    margin-bottom: -120px;
  }
}
@media (min-width: 1280px) {
  #normalizePlantImg {
    float: right;
    overflow: visible;
    margin-right: -120px;
    margin-bottom: -120px;
  }
}
/* -NormalizeIt Logo Overflow Styling */
