@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #103c00;
  --background-hex: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-hex: #103c00; */
    /* --background-hex: #ffffff; */
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
section {
  margin-bottom: 60px;
}
/* Copy Styling */
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3rem;
}
h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #808080;
  line-height: 2rem;
}
p {
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
  line-height: 2rem;
}
#faqs > li {
  font-size: 1.2rem;
  font-weight: 500;
  color: #35711f;
  line-height: 2rem;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
